<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880300529994-gma9kb1q02fq0i6gbdmmqlfftg8m5hq1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880300529994-gma9kb1q02fq0i6gbdmmqlfftg8m5hq1</string>
	<key>API_KEY</key>
	<string>AIzaSyB6btlEPghJo2G0lQ75SJCbj7GNCfrXLNI</string>
	<key>GCM_SENDER_ID</key>
	<string>880300529994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adcourses.imba</string>
	<key>PROJECT_ID</key>
	<string>imba-esports</string>
	<key>STORAGE_BUCKET</key>
	<string>imba-esports.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880300529994:ios:2e791579af33dca8bd49b3</string>
	<key>DATABASE_URL</key>
	<string>https://imba-esports.firebaseio.com</string>
</dict>
</plist>